// ========================================
// Base Styles
// ========================================

html {
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  background-color: var(--secondary-100);
  color: var(--primary-500);
}

// Typography base
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

h1,
h2 {
  color: var(--primary-600);
}

p {
  margin: 0;
  & + p {
    margin-top: var(--spacing-8);
  }
}

a {
  color: inherit;
  text-decoration: none;
  @include transition(color);
}

// SVG sizing helper
svg {
  display: block;
  width: 100%;
  height: 100%;
}

// Button reset
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
