// ========================================
// Utility Classes
// ========================================

// Hero Section
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @include respond-to('md') {
    height: 80vh;
  }

  img {
    display: block;
    width: 80%;
    // max-width: 800px;
    height: auto;
    object-fit: cover;
    filter: saturate(0.5);

    @include respond-to('md') {
      width: 60%;
      margin-right: 200px;
    }
  }
}

// Page Section
.page {
  &__title {
    margin-bottom: var(--spacing-8);
  }
  &__description {
    margin-bottom: var(--spacing-20);
  }
}

.page-padding {
  padding: var(--spacing-12) var(--spacing-6);
}
.page-section {
  padding: var(--spacing-16) var(--spacing-6);

  @include respond-to('md') {
    padding: var(--spacing-24) var(--spacing-10);
  }

  &--rosa {
    background-color: var(--primary-200);
  }

  &--blue {
    background-color: var(--secondary-200);
  }

  &__header {
    text-align: center;
    margin-bottom: var(--spacing-12);

    @include respond-to('md') {
      margin-bottom: var(--spacing-16);
    }
  }

  &__title {
    color: var(--primary-500);
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.025em;

    @include respond-to('sm') {
      font-size: 2.25rem;
    }
  }

  &__description {
    color: var(--primary-600);
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: var(--spacing-4);

    @include respond-to('sm') {
      font-size: 1.125rem;
    }

    @include respond-to('md') {
      font-size: 1.25rem;
    }
  }
}

// Feature Card
.feature-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  background-color: var(--color-white);
  padding: var(--spacing-6);
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  @include transition(box-shadow);
  transition-duration: var(--transition-base);

  &:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 8px 10px -6px rgba(0, 0, 0, 0.1);
  }

  &__image {
    width: 100%;
    aspect-ratio: 4/3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &__description {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

// Contact Page
.contact-page {
  flex: 1;

  @include respond-to('lg') {
    padding-left: var(--spacing-20);
    padding-right: var(--spacing-20);
  }

  @include respond-to('xl') {
    padding-left: var(--spacing-20);
    padding-right: var(--spacing-20);
  }

  &__container {
    margin: 0 auto;
    max-width: var(--max-width-4xl);
  }

  &__header {
    margin-bottom: var(--spacing-10);
    text-align: center;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;

    @include respond-to('sm') {
      font-size: 3rem;
    }
  }

  &__description {
    font-size: 1.125rem;
    line-height: 1.625;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--spacing-12);

    @include respond-to('md') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: var(--spacing-6);
  }

  &__info-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
  }

  &__info-item-label {
    color: var(--primary-600);
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: var(--spacing-1);
  }

  &__info-item-value {
    font-size: 1rem;
    color: var(--primary-500);
  }

  &__social {
    display: flex;
    gap: var(--spacing-4);

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-2);
      border-radius: 0.5rem;
      padding: var(--spacing-4);
      @include transition(all);
      width: 7rem;

      &:hover {
        background-color: var(--color-footer);
        color: var(--color-primary);
      }

      .icon-wrapper {
        border-radius: 9999px;
        background-color: var(--color-footer);
        padding: var(--spacing-3);

        svg {
          width: 1.75rem;
          height: 1.75rem;
        }
      }

      p {
        font-size: 0.875rem;
        font-weight: 500;
      }
    }
  }
}

// Menu Page
.menu-page {
  flex: 1;

  @include respond-to('md') {
    padding-left: var(--spacing-20);
    padding-right: var(--spacing-20);
  }

  @include respond-to('lg') {
    padding-left: var(--spacing-20);
    padding-right: var(--spacing-20);
  }

  &__container {
    margin: 0 auto;
    max-width: var(--max-width-960);
  }

  &__header {
    margin-bottom: var(--spacing-12);
    text-align: center;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;

    @include respond-to('md') {
      font-size: 3rem;
    }
  }

  &__description {
    color: var(--color-menu-text);
    font-size: 1.125rem;
  }

  &__section {
    margin-bottom: var(--spacing-12);
  }

  &__section-title {
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-bottom: var(--spacing-6);
    padding-bottom: var(--spacing-3);
    border-bottom: 1px solid var(--primary-200);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--spacing-6) var(--spacing-8);
    row-gap: var(--spacing-6);

    @include respond-to('md') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--spacing-3) 0;
  }

  &__item-name {
    color: var(--primary-600);
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__item-description {
    color: var(--color-menu-desc);
    font-size: 0.875rem;
  }

  &__item-price {
    color: var(--primary-600);
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.text-center {
  text-align: center;
}
